name: loan-dashboard
services:
  postgres:
    image: postgres:16-alpine
    env_file: .env
    environment:
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DATABASE_USERNAME} -d ${DATABASE_NAME}"]
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s

  app-test-db:
    image: postgres:14
    container_name: postgres_test_container
    restart: always
    env_file: .env
    environment:
      POSTGRES_USER: test_user
      POSTGRES_PASSWORD: test_password
      POSTGRES_DB: test_db
    ports:
      - "5433:5432"  

  redis:
    image: redis:7-alpine
    env_file: .env
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  # api:  
  #   build: .
  #   command: ["./start.sh"]
  #   env_file: .env
  #   depends_on:
  #     postgres:
  #       condition: service_healthy
  #   ports:
  #     - "8000:8000"
  #   volumes:
  #     - .:/app
  #   restart: unless-stopped

  celery-worker:
    build: .
    working_dir: /app
    volumes:
      - .:/app
    dns:
      - 8.8.8.8
      - 8.8.4.4
    command: ["celery", "-A", "app.core.celery_worker.celery_app", "worker", "--loglevel=info"]
    env_file: .env
    depends_on:
      postgres:
        condition: service_healthy
    restart: unless-stopped

  celery-beat:
    build: .
    command: ["celery", "-A", "app.core.celery_worker.celery_app", "beat", "--loglevel=info"]
    env_file: .env
    volumes:
      - .:/app
    dns:
      - 8.8.8.8
      - 8.8.4.4
    restart: unless-stopped

volumes:
  postgres_data:
